section.contacts
  h2.contacts__title Контакты
  ul.contacts__items
    li.contacts__item
      svg.contacts__icon
        use(xlink:href="#skype")
      a.contacts__link(href="skype:korney197823") korney197823
    li.contacts__item
      svg.contacts__icon
        use(xlink:href="#envelope")
      a.contacts__link(href="mailto:korney197823@gmail.com") korney197823@gmail.com
    li.contacts__item
      svg.contacts__icon
        use(xlink:href="#phone")
      a.contacts__link(href="tel:+79883337098") +7&ensp;988&ensp;333&ensp;70&ensp;98
    li.contacts__item
      svg.contacts__icon
        use(xlink:href="#map_marker")
      a.contacts__link() г. Геленджик, ул.Мирная

