nav.main-menu
  ul.main-menu__items
    li.main-menu__item
      a.main-menu__link(href="works.html") Мои работы
    li.main-menu__item
      a.main-menu__link(href="works.html") Блог
    li.main-menu__item
      a.main-menu__link(href="works.html") Обо мне
    li.main-menu__item
      a.main-menu__link(href="works.html") Авторизация

