section(id="ps-container" class="ps-container")



  .ps-slide__wrapper
    div.ps-slides
      div.ps-slides__img(style="background-image: url('assets/img/mishka.png');")
      div.ps-slides__img(style="background-image: url('/images/2.jpg');")
      div.ps-slides__img(style="background-image: url('/images/3.jpg');")
      div.ps-slides__img(style="background-image: url('/images/4.jpg');")
      div.ps-slides__img(style="background-image: url('/images/5.jpg');")

  .ps-content__wrapper
    .ps-content
      h2.ps-content__title Сайт магазина вещей ручной работы
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882") Посмотреть сайт

    .ps-content
      h2.ps-content__title Сайт мобильного приложения
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882") Посмотреть сайт

    .ps-content
      h2.ps-content__title Landing page строительной фирмы
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882") Посмотреть сайт

    .ps-content
      h2.ps-content__title Сайт web-агенства
      p.ps-content__text.
        HTML, CSS, Javascript, PHP, Wordpress
      .ps-content__link-wrap
        a.ps-content__link(href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882") Посмотреть сайт

  nav.ps-sleder__controls
    a(href="#" class="ps-prev")
    a(href="#" class="ps-next")
