section(id="ps-container" class="ps-container")

  .ps-slide__wrapper
    div.ps-slides
      div.ps-slides__img(style="background-image: url('assets/img/1.png');")
      div.ps-slides__img(style="background-image: url('/assets/img/2.png');")
      div.ps-slides__img(style="background-image: url('/assets/img/3.png');")
      div.ps-slides__img(style="background-image: url('/assets/img/4.png');")

  .ps-content__wrapper
    .ps-content
      h2.ps-content__title Сайт магазина вещей ручной работы
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="https://korney197823.github.io/Mishka-2017") Посмотреть сайт

    .ps-content
      h2.ps-content__title Сайт мобильного приложения
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="http://korney1978.tmweb.ru") Посмотреть сайт

    .ps-content
      h2.ps-content__title Landing page строительной фирмы
      p.ps-content__text.
        HTML, CSS, Javascript
      .ps-content__link-wrap
        a.ps-content__link(href="https://korney197823.github.io/EKC_landing-page") Посмотреть сайт

    .ps-content
      h2.ps-content__title Сайт бухгалтерской фирмы
      p.ps-content__text.
        HTML, CSS, генератор статических сайтов Hugo
      .ps-content__link-wrap
        a.ps-content__link(href="http://www.buhgelen.ru") Посмотреть сайт

  nav.ps-slides__controls
    a.ps-slides__controls-item.ps-prev(href="#")
    a.ps-slides__controls-item.ps-next(href="#")
