.social
  ul.social__items
    li.social__item
      a.social__link.social__link--vk(href="https://vk.com/id29755814") В контакте
        svg.social__icon
          use(xlink:href='#vk')
    li.social__item
      a.social__link.social__link--github(href="https://github.com/korney197823") Github
        svg.social__icon
          use(xlink:href='#github')
    li.social__item
      a.social__link.social__link--linkedin(href="#") LInkedIn
        svg.social__icon
          use(xlink:href='#in')