.social
  ul.social__items
    li.social__item
      a.social__item.social__item--vk(href="https://vk.com/id29755814") В контакте
    li.social__item
      a.social__item.social__item--github(href="https://github.com/korney197823") Github
    li.social__item
      a.social__item.social__item--linkedin(href="#") LInkedIn