.about-me {
  padding-bottom: 10px;
  background-color: #efeee9;
  @include laptop {
    width: 50%;
  }
}
.about-me__wrap {
  @include laptop {
    display: flex;
  }
}
.about-me__title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85px;
  background-image: url(../img/about_header.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  font-family: $fontsecond;
  font-size: rem(35px);
  line-height: rem(42px);
  color: $fontdark;
  @include tablet {
    min-height: rem(134px);
    background-size: 55%;
    font-size: rem(49px);
    line-height: rem(52px);
  }
  @include laptop {
    min-height: rem(125px);
  }
}
.about-me__img {
  width: 100%;
  height: 283px;
  background-image: url("../img/avatar_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
  @include tablet {
    height: 415px;
    margin-bottom: 10px;
  }
}

.subtitle {
  text-align: center;
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  text-transform: uppercase;
  font-family: $fontsecond;
  font-size: rem(21px);
  line-height: rem(28px);
  @include tablet {
    font-size: rem(30px);
    line-height: rem(36px);
  }
}
.about-me__subtitle {
}
.about-me__text {
  padding-left: rem(10px);
  padding-right: rem(10px);
  padding-bottom: 10px;
  font-family: $font;
  font-size: rem(14px);
  line-height: rem(24px);
  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}