html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: $font;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  background-color: transparent;
  border: none;
}
.main-svg {
  display: none;
}

.wrapper {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  @include tablet {
    width: 720px;
  }
  @include laptop {
    width: 1160px;
  }
  @include desktop {
    width: 1200px;
  }
  &--header {
    @include desktop {
      width: 96.66%;
    }
  }
  &--about-me {
    @include tablet {
      width: 472px;
    }
    @include laptop {
      width: 74.5%;
    }
    @include desktop {
      width: 54.44%;
      margin: 0 0 0 auto;
      padding-left: rem(20px);
      padding-right: rem(20px);
    }
  }
  &--features {
    @include laptop {
      width: 91.7%;
      margin-left: 6.6%;
    }
  }
  &--footer {
    @include laptop {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      width: 96.66%;
    }
  }
  &--info {
    @include laptop {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      width: 96.66%;
    }
  }
}
.container-welcome {
  &--header {
    display: flex;
    justify-content: center;
    @include tablet {
      justify-content: flex-end;
    }
    @include desktop {
      position: relative;
    }
  }
}
//index.html basic style
.index-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  flex-grow: 1;
}
.index-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

