html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: $font;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  background-color: transparent;
  border: none;
}

.container {
  margin: 0 auto;
}

//index.html basic style
.index-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  flex-grow: 1;
}
.index-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
