.btn {
  outline: none;
  cursor: pointer;
  &--authorize {
    display: block;
    margin: 0 auto;
    padding: rem(12px) rem(20px);
    border: 1px solid $white;
    border-radius: 6px;
    font-family: $fontmedium;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $white;
  }
  &--link {
    display: block;
    padding: rem(12px) rem(20px);
    background-color: rgba(7, 171, 151, 0.75);
    text-align: center;
    font-family: $fontmedium;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $white;
  }
}