.btn {
  outline: none;
  cursor: pointer;
  &--authorize {
    display: block;
    padding: rem(12px) rem(20px);
    border: 1px solid $white;
    border-radius: 6px;
    font-family: $fontmedium;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $white;
    &:hover {
      background-color: $white;
      color: $bgbasic;
    }
    @include desktop {
      position: absolute;
      right: -20px;
    }
  }
  &--link {
    display: block;
    padding: rem(12px) rem(20px);
    background-color: rgba(7, 171, 151, 0.75);
    text-align: center;
    font-family: $fontmedium;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $white;
    &:hover {
      background-color: $bgdark;
    }
    @include tablet {
      font-size: rem(16px);
      line-height: rem(36px);
    }
  }

  &--toggle {
    width: 25px;
    height: 23px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
kb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
46IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU
1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcx
MS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d
3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveG
xpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjM1cHgiIHZpZXdCb
3g9IjAgMCA0MCAzNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDAgMzUiIHhtbDpzcGFj
ZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNDAsMi41QzQwLDMuODgxLDM
4Ljg4MSw1LDM3LjUsNWgtMzVDMS4xMTksNSwwLDMuODgxLDAsMi41bDAsMEMwLDEuMTE5LDEuMT
E5LDAsMi41LDBoMzUKCUMzOC44ODEsMCw0MCwxLjExOSw0MCwyLjVMNDAsMi41eiIvPgo8cGF0a
CBmaWxsPSIjRkZGRkZGIiBkPSJNNDAsMTcuNWMwLDEuMzgxLTEuMTE5LDIuNS0yLjUsMi41aC0z
NUMxLjExOSwyMCwwLDE4Ljg4MSwwLDE3LjVsMCwwQzAsMTYuMTE5LDEuMTE5LDE1LDIuNSwxNWg
zNQoJQzM4Ljg4MSwxNSw0MCwxNi4xMTksNDAsMTcuNUw0MCwxNy41eiIvPgo8cGF0aCBmaWxsPS
IjRkZGRkZGIiBkPSJNNDAsMzIuNWMwLDEuMzgxLTEuMTE5LDIuNS0yLjUsMi41aC0zNUMxLjExO
SwzNSwwLDMzLjg4MSwwLDMyLjVsMCwwQzAsMzEuMTE5LDEuMTE5LDMwLDIuNSwzMGgzNQoJQzM4
Ljg4MSwzMCw0MCwzMS4xMTksNDAsMzIuNUw0MCwzMi41eiIvPgo8L3N2Zz4=");
  }
  background-size: cover;
}