.card {
  width: 300px;
  height: 405px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  overflow: hidden;
  perspective: 1000px;
  & .card__wrap {
    transform: rotateY(180deg);
  }
}
.card__wrap {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.card__front, .card__back {
  width: 300px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.card__front {
  z-index: 2;
  transform: rotateY(0deg);
  padding-top: 40px;
}
.card__back {
  transform: rotateY(180deg);
}

.card__img-wrap {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.card__img {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.card__title {
  margin-bottom: 10px;
  text-align: center;
  font-family: $fontmedium;
  font-size: rem(21px);
  line-height: rem(28px);
  color: $fontdark;
}
.card__text {
  margin-bottom: 35px;
  text-align: center;
  font-family: $font;
  font-size: rem(14px);
  line-height: rem(24px);
  color: $fontbasic;
}
.card-menu__items {
  display: flex;
}
.card-menu__item {
  &:not(:last-of-type) {
    border-right: 2px solid transparent;
  }
  &:nth-of-type(2) {
    flex-grow: 2;
  }
  flex-grow: 1;
}