
.contacts {
  padding-left: 10px;
  padding-right: 10px;
  @include tablet {
    position: absolute;
    width: 348px;
    left: calc(50%);
    top: calc(50% - 135px);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
  }
  @include laptop {
    width: rem(380px);
    padding: rem(35px) rem(40px);
  }
}
.contacts__title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: $fontsecond;
  font-size: rem(35px);
  line-height: rem(42px);
  @include laptop {
    margin-bottom: rem(20px);
  }
}

.contacts__icon {
  width: rem(22px);
  height: rem(22px);
  use {
    fill: $bgbasic
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: rem(20px);
  @include laptop {
    margin-bottom: rem(25px);
  }
}

.contacts__link {
  margin-left: 10px;
  font-family: $fontmedium;
  color: #6a7b83;
}