
.contacts {
  padding-left: 10px;
  padding-right: 10px;
  @include tablet {
    position: absolute;
    width: 348px;
    left: calc(50% - 174px);
    top: calc(50% - 270px);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    z-index: 100;
    transform: translateY(-50%);
  }
}
.contacts__title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: $fontsecond;
  font-size: rem(35px);
  line-height: rem(42px);
}

.contacts__icon {
  width: 22px;
  height: 22px;
  use {
    fill: $bgbasic
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts__link {
  margin-left: 10px;
  font-family: $fontmedium;
  color: #6a7b83;
}