.copyright {
  font-style: $fontlight;
  font-size: rem(14px);
  line-height: rem(24px);
  color: #f4f3f4;
  @include tablet {
    display: flex;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);
  }
  &--about {
    color: rgba(255, 255, 255, 0.5);
    @include laptop {
      align-self: center;
    }
  }
}
.copyright__name,
.copyright__text {
  text-align: center;
  padding: 0 7px;
}
.copyright__name {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}