.features {
  background-color: #eeebdf;
  @include laptop {
    width: 50%;
  }
}

.features__subtitle {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  @include tablet {
    width: 472px;
    margin: 0 auto;
  }
  @include laptop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: rem(125px);
    padding: 0;
  }
  @include desktop {
    width: 34.44%;
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
}

.features__text {
  margin-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: $font;
  font-size: rem(14px);
  line-height: rem(24px);
  @include tablet {
    width: 472px;
    margin: 0 auto;
  }
  @include laptop {
    width: 100%;
    margin-bottom: rem(35px);
    padding: 0;
  }
}