.features {
  background-color: #eeebdf;
}

.features__text {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: $font;
  font-size: rem(14px);
  line-height: rem(24px);
}