@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bernier_distressedregular';
  src: url('../fonts/bernierdistressed-regular-webfont.eot');
  src: url('../fonts/bernierdistressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bernierdistressed-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernierdistressed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'bernier_regularregular';
  src: url('../fonts/bernierregular-regular-webfont.eot');
  src: url('../fonts/bernierregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bernierregular-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'bernier_shaderegular';
  src: url('../fonts/berniershade-regular-webfont.eot');
  src: url('../fonts/berniershade-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/berniershade-regular-webfont.woff2') format('woff2'),
  url('../fonts/berniershade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?26565863');
  src: url('../fonts/fontello.eot?26565863#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?26565863') format('woff2'),
  url('../fonts/fontello.woff?26565863') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-link:before { content: '\e800'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */