.footer {
  &--about {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(66, 62, 66, 0.85);
  }
}
.footer-menu__wrap {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
}
.footer-menu {
  margin-bottom: rem(10px);
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  padding-left: rem(20px);
  padding-right: rem(20px);
  @include laptop {
    width: 34.5%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer-menu__items {
  display: flex;
  justify-content: space-between;
  @include tablet {
    justify-content: space-around;
  }
}
.footer-menu__link {
  font-family: $fontmedium;
  font-size: rem(13px);
  color: $white;
  @include tablet {
    font-size: rem(16px);
    line-height: rem(24px);
  }
}