.header--welcome {
  padding-top: 10px;
  padding-bottom: 10px;
}

//ABOUT PAGE
.header-about {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-about__top {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  @include tablet {
    align-self: center;
  }
}

.header-row {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 166px;
  .left,
  .right {
    width: 50%;
  }
  .left {
    background-image: url(../img/about_bg_left.svg);

  }
}