.social {
  @include tablet {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0;
  }
}
.social__items {
  display: flex;
  justify-content: center;

}
.social__item {
  font-size: 0;
  &:not(:last-of-type) {
    margin-right: 10px;
    @include tablet {
      margin-right: 30px;
    }
  }

}
.social__link {
  display: block;
  width: 30px;
  height: 22px;
  &--round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #7f8486;
    &:hover {
      background-color: #fff;
      svg {
        fill: #53595d;
      }
    }
  }
  &--header {

  }
}

.social__icon {
  width: 30px;
  height: 22px;
  display: block;
  fill: $bgbasic;
  &:hover {
    fill: $bgdark;
  }
  &--light {
    fill: #dee6e2;
    &:hover {
      fill: $white;
    }
  }
  &--footer {
    width: 24px;
    height: 20px;
    fill: #aaadaf;
    &:hover {
      fill: none;
    }
  }
}
