//FONTS
$font: 'robotoregular', sans-serif;
$fontbold: 'robotobold' , sans-serif;
$fontlight: 'robotolight', sans-serif;
$fontmedium: 'robotomedium', sans-serif;

$fontsecond: 'bernier_regularregular', sans-serif;

//COLORS
$white: #ffffff;
$fontbasic: #455a64;
$fontdark: #373e42;
$bgbasic: #00bfa5;
$bgdark: #009688;
